<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IPTComShark.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <IPTComShark.Properties.Settings>
      <setting name="IgnoredComIds" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoScroll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreDuplicatedPD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreLoopback" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreUnknownData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RemoteCapIP" serializeAs="String">
        <value />
      </setting>
      <setting name="RemoteCapPort" serializeAs="String">
        <value />
      </setting>
      <setting name="RemoteCapUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="RemoteCapPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="RemoteCapFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="RemoteCapPrefix" serializeAs="String">
        <value />
      </setting>
      <setting name="IgnoreVariables" serializeAs="String">
        <value>
          MMI_M_PACKET
          MMI_L_PACKET
        </value>
      </setting>
    </IPTComShark.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PacketDotNet" publicKeyToken="451414c7667b2a58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4.0" newVersion="1.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>