<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvExport" version="1.0.1" targetFramework="net452" />
  <package id="EPPlus" version="4.5.0.3-rc" targetFramework="net452" />
  <package id="ObjectListView.Official" version="2.9.2-alpha2" targetFramework="net452" />
  <package id="PacketDotNet" version="0.16.0" targetFramework="net452" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net452" />
  <package id="SharpPcap" version="4.4.0" targetFramework="net452" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
  <package id="Svg" version="2.3.0" targetFramework="net452" />
</packages>