<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="CsvExport" version="1.0.1" targetFramework="net452" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net461" />
  <package id="ObjectListView.Official" version="2.9.2-alpha2" targetFramework="net452" />
  <package id="PacketDotNet" version="1.0.1" targetFramework="net472" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net472" />
  <package id="SharpPcap" version="5.0.0" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
  <package id="Svg" version="3.0.49" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0-preview3.19551.4" targetFramework="net472" />
</packages>